/mooc-java-programming-ii/part10-Part10_17.SortThemCards/target/
/mooc-java-programming-ii/part11-Part11_08.FirstPackages/target/
/mooc-java-programming-ii/part11-Part11_10.FlightControl/target/
/mooc-java-programming-ii/part11-Part11_12.SensorsAndTemperature/target/
/mooc-java-programming-ii/part11-Part11_13.SaveableDictionary/target/
/mooc-java-programming-ii/part12-Part12_01.Hideout/target/
/mooc-java-programming-ii/part12-Part12_02.Pipe/target/
/mooc-java-programming-ii/part12-Part12_03.SumTheseForMe/target/
/mooc-java-programming-ii/part12-Part12_07.Die/target/
/mooc-java-programming-ii/part12-Part12_08.Lottery/target/
/mooc-java-programming-ii/part12-Part12_09.ArrayAsAString/target/
/mooc-java-programming-ii/part12-Part12_10.MagicSquare/target/
/mooc-java-programming-ii/part13-Part13_01.MyFirstApplication/target/
/mooc-java-programming-ii/part13-Part13_02.ButtonAndLabel/target/
